# Ignore node_modules folders, Docker will install them inside the container
node_modules
**/node_modules

# Ignore local development artifacts
.turbo
.next

# Ignore Git history
.git

# Ignore lockfiles (Docker will generate its own during pnpm install)
# pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore common build output directories
**/dist
**/build

# Ignore environment files
.env
.env.local
.env.*

# Ignore logs
npm-debug.log
yarn-debug.log
pnpm-debug.log

# Ignore editor/IDE specific files
.vscode
.idea

# Ignore Docker specific files (if any)
Dockerfile
Dockerfile.*
.dockerignore

# Ignore temporary files
*.tmp
*~